<!DOCTYPE html>
<h1>Team Name: <%=params[:team][:name]%></h1>
<h1>Team Motto: <%=params[:team][:motto]%></h1>

<% params[:team][:hero].each do |hero| %>
    <h2>Hero Name: <%=hero[:name]%></h2>
    <h2>Hero Power: <%=hero[:power]%></h2>
    <h2>Hero Biography: <%=hero[:bio]%></h2>
<%end%>
